@model LibraryManagement.Web.Models.AutorViewModel

<h2>Eliminar Autor</h2>

<h3>┐Estß seguro que desea eliminar este autor?</h3>

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>Nombre Completo</dt>
        <dd>@Model.NombreCompleto</dd>

        <dt>Fecha de Nacimiento</dt>
        <dd>@Model.FechaNacimiento.ToString("yyyy-MM-dd")</dd>

        <dt>Ciudad de Procedencia</dt>
        <dd>@Model.CiudadProcedencia</dd>

        <dt>Correo Electrˇnico</dt>
        <dd>@Model.CorreoElectronico</dd>
    </dl>

    @using (Html.BeginForm("Delete", "Autores", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })
    }
</div>
